html, body {
    font-family: 'Open Sans', sans-serif;
    background-color: $secondaryBlack;
    font-weight: 400;
    @include flexCenter(column);
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;

    .highlight-yellow {
        background: linear-gradient(180deg,rgba(255,255,255,0) 50%, $impact2 50%);
    }

    .highlight-purple {
        background: linear-gradient(180deg,rgba(255,255,255,0) 50%, $impact3 50%);
    }
} // body
